*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg ,
    rgba(9, 86, 235, 1) 0% ,
    rgba(10, 213, 219, 1)  100%
    );
}

.board {
    display: grid;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    border:  2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell:nth-child(1), 
.cell:nth-child(4), 
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(1), 
.cell:nth-child(2), 
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3), 
.cell:nth-child(6), 
.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7), 
.cell:nth-child(8), 
.cell:nth-child(9) {
    border-bottom: none;
}
.cell.x, .cell.circle {
    cursor: not-allowed;
}


.cell.x::before,
.cell.x::after {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: white;
    position: absolute;
}

.board.x .cell:not(.circle):not(.x):hover::before,
.board.x .cell:not(.circle):not(.x):hover::after {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after, 
.board.x .cell.cell:hover::after{
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after {
    content: "";
    height: calc(65px * 0.9);
    width: calc(65px * 0.9);
    background-color: white;
    position: absolute;
    border-radius: 50%;
    background: none;
    border: solid white 15PX;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: calc(65px * 0.9);
    width: calc(65px * 0.9);
    background-color: white;
    position: absolute;
    border-radius: 50%;
    background: none;
    border: solid rgba(255, 255, 255, 0.3) 15PX;
}


.winning-menssage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.winning-menssage-button {
    font-size: 2.5rem;
    background-color: rgba(10, 213, 219, 1);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}

.winning-menssage-button:hover {
    color: rgba(10, 213, 219, 1);
    background-color: white;
}

.winning-menssage-text {
    color: white;
    font-size: 5rem;
}

.show-winning-message {
    display: flex;
}