@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #006494;
}

h2 {
    margin-top: -5px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 240px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    
}